table {
    width: 75%;
    text-align: center;
    border-collapse: collapse;
    margin: 0 0 1em 0;
    caption-side: top;
 }
 caption, td, th {
    padding: 0.3em;
 }
 th, td {
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;
 }
 th:lastchild, td:lastchild {
     border-right: 0;
 }
 th {
    width: 25%;
 }