@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

body {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 20.5%;
}

.loginSpace{
    /*margin-left: 22.5%;
    margin-top: -5.5%;*/
	position: fixed;
	padding-top: 100px;
	z-index: 100;
    

}

.h2-section {
    color: black;
}

.loginSpace * {
	box-sizing: border-box;
}

.loginSpace body {
	background: #f6f5f7;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family: 'Montserrat', sans-serif;
	height: 100vh;
	margin: -20px 0 50px;
}

.loginSpace h1 {
	font-weight: bold;
	margin: 0;
}

.loginSpace h2 {
	text-align: center;
	color: rgb(10, 10, 10);
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.56);
  text-transform: uppercase;
  -webkit-transform: matrix(0.93128, 0, 0, 0.93128, 0, 0);
          transform: matrix(0.93128, 0, 0, 0.93128, 0, 0);
  font-weight: bold;
  z-index: 100;
}

.loginSpace p {
	font-size: 14px;
	font-weight: 100;
	line-height: 20px;
	letter-spacing: 0.5px;
	margin: 20px 0 30px;
}

.loginSpace span {
	font-size: 12px;
}

.loginSpace a {
	color: #333;
	font-size: 14px;
	text-decoration: none;
	margin: 15px 0;
}

.loginSpace button {
	border-radius: 20px;
	border: 1px solid #FFFFFF;
	background-color: #274BC6;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}

.loginSpace button:active {
	transform: scale(0.95);
}

.loginSpace button:focus {
	outline: none;
}

.loginSpace button.ghost {
	background-color: transparent;
	border-color: #FFFFFF;
}

.loginSpace form {
	background-color: #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
	height: 100%;
	text-align: center;
}

.loginSpace input {
	background-color: #eee;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
}

.loginSpace .container {
	background-color: #fff;
	border-radius: 10px;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
	position: relative;
	overflow: hidden;
	width: 768px;
	max-width: 100%;
	min-height: 480px;
}

.loginSpace .form-container {
	position: absolute;
	top: 0;
	height: 100%;
	transition: all 0.6s ease-in-out;
}

.loginSpace .sign-in-container {
	left: 0;
	width: 50%;
	z-index: 2;
}

.loginSpace .container.right-panel-active .sign-in-container {
	transform: translateX(100%);
}

.loginSpace .sign-up-container {
	left: 0;
	width: 50%;
	opacity: 0;
	z-index: 1;
}

.loginSpace .container.right-panel-active .sign-up-container {
	transform: translateX(100%);
	opacity: 1;
	z-index: 5;
	animation: show 0.6s;
}

/*-----------------------------------------------------------------------------------------*/

.loginSpace .overlay-container {
	position: absolute;
	top: 0;
	left: 50%;
	width: 50%;
	height: 100%;
	overflow: hidden;
	transition: transform 0.6s ease-in-out;
	z-index: 100;
}

.loginSpace .container.right-panel-active .overlay-container{
	transform: translateX(-100%);
}

.loginSpace .overlay {
	background: #FF416C;
	background: -webkit-linear-gradient(to right, #FF4B2B, #FF416C);
	background: linear-gradient(to right, #274BC6, black);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 0;
	color: #FFFFFF;
	position: relative;
	left: -100%;
	height: 100%;
	width: 200%;
  	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.loginSpace .container.right-panel-active .overlay {
  	transform: translateX(50%);
}

.loginSpace .overlay-panel {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 40px;
	text-align: center;
	top: 0;
	height: 100%;
	width: 50%;
	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.loginSpace .overlay-left {
	transform: translateX(-20%);
}

.loginSpace .container.right-panel-active .overlay-left {
	transform: translateX(0);
}

.loginSpace .overlay-right {
	right: 0;
	transform: translateX(0);
}

.loginSpace .container.right-panel-active .overlay-right {
	transform: translateX(20%);
}

.loginSpace .social-container {
	margin: 20px 0;
}

.loginSpace .social-container a {
	border: 1px solid #DDDDDD;
	border-radius: 50%;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	margin: 0 5px;
	height: 40px;
	width: 40px;
}