<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Recuperar Contraseña</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
</head>
<body>
    <h2>Recuperar Contraseña</h2>
    <div>
        <form th:action="@{/recuperarPw}" method="post" class="col-12">
            <input type="text" class="form-iniciar" placeholder="Nombre" name="nombre">
            <input type="text" class="form-iniciar" placeholder="Apellido" name="apellido">
            <input type="text" class="form-iniciar" placeholder="Cedula" name="cedula">
            <input type="email" class="form-iniciar" placeholder="Email" name="email">
            <button type="submit">Recuperar</button>
        </form>
    </div>
</body>
</html>